<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Bank</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-3">
    <h1>Edit Bank</h1>
    <form method="post" th:action="@{/admin/groups/banks/update}">
        <input name="id" th:value="${bank.id}" type="hidden">
        <input name="groupid" th:value="${groupId}" type="hidden">
        <div class="form-group">
            <label for="name">Bank Name</label>
            <input class="form-control" id="name" name="name" required th:value="${bank.name}" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" th:href="@{/admin/groups/banks(groupid=${groupId})}">Cancel</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
