<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-3">
    <h1>Group Management</h1>
    <table class="table mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.id}"></td>
            <td th:text="${group.name}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/admin/groups/view(groupid=${group.id})}">View</a>
                <a class="btn btn-primary" th:href="@{/admin/groups/banks(groupid=${group.id})}">Banks</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
