<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Distribution Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-3">
    <h1>Manage Distribution</h1>
    <div class="mt-4">
        <h2>Create Group</h2>
        <form method="post" th:action="@{/overseer/createGroup}">
            <div class="form-group">
                <label for="groupName">Group Name</label>
                <input class="form-control" id="groupName" name="groupName" required type="text">
            </div>
            <div class="form-group">
                <label for="teacher">Select Teacher</label>
                <select class="form-control" id="teacher" name="teacherId" required>
                    <option th:each="teacher : ${teachers}"
                            th:text="${teacher.username}"
                            th:value="${teacher.id}">Teacher
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="students">Select Students</label>
                <select class="form-control" id="students" multiple name="studentIds" required>
                    <option th:each="student : ${students}"
                            th:text="${student.username}"
                            th:value="${student.id}">Student
                    </option>
                </select>
            </div>
            <button class="btn btn-success" type="submit">Create Group</button>
        </form>
    </div>
    <div class="mt-4">
        <h2>Edit Groups</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Group Name</th>
                <th>Teacher</th>
                <th>Students</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group : ${groups}">
                <td th:text="${group.name}">Group Name</td>
                <td th:text="${group.teacher.username}">Teacher Name</td>
                <td>
                    <ul>
                        <li th:each="student : ${group.students}"
                            th:text="${student.username}">Student Name
                        </li>
                    </ul>
                </td>
                <td>
                    <a class="btn btn-primary" th:href="@{/overseer/editGroup(groupId=${group.id})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
